In [3]:
import pandas as pd
import regex as re

In [4]:
df = pd.read_csv('https://files.challengerocket.com/files/lions-den-ing-2024/development_sample.csv')

In [5]:
df

,ID,customer_id,application_date,target,Application_status,Var1,Var2,Var3,Var4,Var5,...,Var22,Var23,Var24,Var25,Var26,Var27,Var28,Var29,Var30,_r_
0,11034977,32537148,01Feb2010 0:00:00,0.0,Approved,1,2.0,1,7800,99,...,1,1,0,6768.42,0.00,0,0,0,3899,0.267045
1,11034978,32761663,01Feb2010 0:00:00,0.0,Approved,1,1.0,2,11100,78,...,0,0,15000,5937.66,3870.60,0,0,0,3899,0.533040
2,11034979,32701063,01Feb2010 0:00:00,0.0,Approved,2,3.0,1,2400,15,...,2,2,0,5647.77,1463.08,0,0,10,3899,0.861555
3,11034980,32386786,01Feb2010 0:00:00,0.0,Approved,3,1.0,2,11800,30,...,0,0,0,3594.90,21563.78,0,0,10,3899,0.506451
4,11034981,32692110,02Feb2010 0:00:00,NaN,Rejected,1,2.0,1,10200,72,...,2,2,0,9908.45,0.00,0,0,20,3899,0.210913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,11084972,32554904,31Dec2020 0:00:00,1.0,Approved,2,1.0,1,49200,111,...,2,2,0,NaN,NaN,0,0,0,12832,0.783954
49996,11084973,32884069,31Dec2020 0:00:00,NaN,Rejected,1,2.0,1,25600,30,...,3,4,0,NaN,NaN,0,0,0,12832,0.172590
49997,11084974,32433438,31Dec2020 0:00:00,0.0,Approved,1,1.0,1,46700,18,...,0,0,0,9288.87,255018.31,0,0,0,12832,0.060722
49998,11084975,32877592,31Dec2020 0:00:00,NaN,Rejected,1,1.0,Direct,44300,162,...,3,3,102000,NaN,NaN,0,0,10,12832,0.845866
49999,11084976,32834539,31Dec2020 0:00:00,0.0,Approved,1,3.0,3,6400,9,...,0,0,0,NaN,NaN,0,0,0,12832,0.733623

In [6]:
df.columns

Index(['ID', 'customer_id', 'application_date', 'target', 'Application_status',
       'Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'Var9',
       'Var10', 'Var11', 'Var12', 'Var13', 'Var14', 'Var15', 'Var16', 'Var17',
       'Var18', 'Var19', 'Var20', 'Var21', 'Var22', 'Var23', 'Var24', 'Var25',
       'Var26', 'Var27', 'Var28', 'Var29', 'Var30', '_r_'],
      dtype='object')

In [7]:
nonNullDf = df.dropna()
nonNullDf

Empty DataFrame
Columns: [ID, customer_id, application_date, target, Application_status, Var1, Var2, Var3, Var4, Var5, Var6, Var7, Var8, Var9, Var10, Var11, Var12, Var13, Var14, Var15, Var16, Var17, Var18, Var19, Var20, Var21, Var22, Var23, Var24, Var25, Var26, Var27, Var28, Var29, Var30, _r_]
Index: []

[0 rows x 36 columns]

In [8]:
df['_r_'].value_counts(dropna=False)

0.267045    1
0.675957    1
0.661157    1
0.340557    1
0.482574    1
           ..
0.470044    1
0.810104    1
0.573643    1
0.662642    1
0.733623    1
Name: _r_, Length: 50000, dtype: int64

In [9]:
df[df['_r_'] < 0.5]

,ID,customer_id,application_date,target,Application_status,Var1,Var2,Var3,Var4,Var5,...,Var22,Var23,Var24,Var25,Var26,Var27,Var28,Var29,Var30,_r_
0,11034977,32537148,01Feb2010 0:00:00,0.0,Approved,1,2.0,1,7800,99,...,1,1,0,6768.42,0.00,0,0,0,3899,0.267045
4,11034981,32692110,02Feb2010 0:00:00,NaN,Rejected,1,2.0,1,10200,72,...,2,2,0,9908.45,0.00,0,0,20,3899,0.210913
5,11034982,32861919,02Feb2010 0:00:00,0.0,Approved,1,2.0,1,7200,36,...,2,2,0,1828.62,NaN,0,0,10,3899,0.003446
7,11034984,32871226,03Feb2010 0:00:00,0.0,Approved,1,1.0,1,15300,33,...,0,0,0,8429.24,18888.18,0,0,10,3899,0.132811
9,11034986,32381161,04Feb2010 0:00:00,0.0,Approved,2,1.0,1,7900,24,...,1,1,0,2696.36,NaN,0,0,10,3899,0.379363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49987,11084964,32790345,30Dec2020 0:00:00,NaN,Rejected,1,3.0,1,8600,15,...,0,0,105600,61336.75,NaN,0,0,10,12832,0.419452
49990,11084967,32405935,30Dec2020 0:00:00,0.0,Approved,1,2.0,1,37200,21,...,0,0,0,12275.37,NaN,0,0,0,12832,0.058510
49993,11084970,32623752,31Dec2020 0:00:00,0.0,Approved,1,2.0,2,26100,15,...,0,0,0,10816.79,108005.34,0,0,0,12832,0.225416
49996,11084973,32884069,31Dec2020 0:00:00,NaN,Rejected,1,2.0,1,25600,30,...,3,4,0,NaN,NaN,0,0,0,12832,0.172590
49997,11084974,32433438,31Dec2020 0:00:00,0.0,Approved,1,1.0,1,46700,18,...,0,0,0,9288.87,255018.31,0,0,0,12832,0.060722

In [21]:
import os
cwd = os.getcwd().replace('jupyter_notebooks', '')
dataDict = f'{cwd}data'
columnHeaders = pd.read_excel(f'{dataDict}\\variables_description.xlsx', sheet_name= 'List of variables')
#f'{cwd}\\data\\variables_description.xlsx'

In [24]:
VarList = columnHeaders['Column'].values.tolist()
DescList = columnHeaders['Description'].values.tolist()

DescList[3] = 'Default indicator'

for i in range(len(DescList)):
    DescList[i] = DescList[i].replace('Application data: ', '')
    DescList[i] = DescList[i].replace('(Approved/Rejected)', '')
    reg = r' \([\s\S]*\)'
    DescList[i] = re.sub(reg, '', DescList[i])

newColNames = {}

for i in range(len(VarList)):
    newColNames[VarList[i]] = DescList[i]

df.rename(columns = newColNames, inplace = True)

In [23]:
df.to_csv(f'{dataDict}\\renamedCols.csv', index=False)

In [25]:
import seaborn as sns

df

,ID,Customer ID,Application date,Default indicator,Application_status,Number of applicants,Loan purpose,Distribution channel,Application amount,Credit duration,...,Number of requests during the last 9 months,Number of requests during the last 12 months,Limit on credit card,Amount on current account,Amount on savings account,Arrear in last 3 months,Arrear in last 12 months,Credit bureau score,Average income,_r_
0,11034977,32537148,01Feb2010 0:00:00,0.0,Approved,1,2.0,1,7800,99,...,1,1,0,6768.42,0.00,0,0,0,3899,0.267045
1,11034978,32761663,01Feb2010 0:00:00,0.0,Approved,1,1.0,2,11100,78,...,0,0,15000,5937.66,3870.60,0,0,0,3899,0.533040
2,11034979,32701063,01Feb2010 0:00:00,0.0,Approved,2,3.0,1,2400,15,...,2,2,0,5647.77,1463.08,0,0,10,3899,0.861555
3,11034980,32386786,01Feb2010 0:00:00,0.0,Approved,3,1.0,2,11800,30,...,0,0,0,3594.90,21563.78,0,0,10,3899,0.506451
4,11034981,32692110,02Feb2010 0:00:00,NaN,Rejected,1,2.0,1,10200,72,...,2,2,0,9908.45,0.00,0,0,20,3899,0.210913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,11084972,32554904,31Dec2020 0:00:00,1.0,Approved,2,1.0,1,49200,111,...,2,2,0,NaN,NaN,0,0,0,12832,0.783954
49996,11084973,32884069,31Dec2020 0:00:00,NaN,Rejected,1,2.0,1,25600,30,...,3,4,0,NaN,NaN,0,0,0,12832,0.172590
49997,11084974,32433438,31Dec2020 0:00:00,0.0,Approved,1,1.0,1,46700,18,...,0,0,0,9288.87,255018.31,0,0,0,12832,0.060722
49998,11084975,32877592,31Dec2020 0:00:00,NaN,Rejected,1,1.0,Direct,44300,162,...,3,3,102000,NaN,NaN,0,0,10,12832,0.845866
49999,11084976,32834539,31Dec2020 0:00:00,0.0,Approved,1,3.0,3,6400,9,...,0,0,0,NaN,NaN,0,0,0,12832,0.733623