In [9]:
import sys
sys.path.append('../source')
from sanitization import *
descriptions = get_descriptions('../data/descriptions.txt')
dev = pd.read_csv('../data/development_sample.csv')
test = pd.read_csv('../data/testing_sample.csv')

In [10]:
print(dev.head())
print(dev.isnull().sum())
print(dev.dtypes)
dev_str = dev.select_dtypes(include='object')
print(dev_str.head())

         ID  customer_id   application_date  target Application_status  Var1  \
0  11034977     32537148  01Feb2010 0:00:00     0.0           Approved     1
1  11034978     32761663  01Feb2010 0:00:00     0.0           Approved     1
2  11034979     32701063  01Feb2010 0:00:00     0.0           Approved     2
3  11034980     32386786  01Feb2010 0:00:00     0.0           Approved     3
4  11034981     32692110  02Feb2010 0:00:00     NaN           Rejected     1

   Var2 Var3   Var4  Var5  ...  Var22  Var23  Var24    Var25     Var26  Var27  \
0   2.0    1   7800    99  ...      1      1      0  6768.42      0.00      0
1   1.0    2  11100    78  ...      0      0  15000  5937.66   3870.60      0
2   3.0    1   2400    15  ...      2      2      0  5647.77   1463.08      0
3   1.0    2  11800    30  ...      0      0      0  3594.90  21563.78      0
4   2.0    1  10200    72  ...      2      2      0  9908.45      0.00      0

   Var28 Var29  Var30       _r_
0      0     0   3899  0.267045
1      0     0   3899  0.533040
2      0    10   3899  0.861555
3      0    10   3899  0.506451
4      0    20   3899  0.210913

[5 rows x 36 columns]
ID                        0
customer_id               0
application_date          0
target                13282
Application_status        0
Var1                      0
Var2                   1403
Var3                   1403
Var4                      0
Var5                      0
Var6                      0
Var7                      0
Var8                  29173
Var9                      0
Var10                 37538
Var11                     0
Var12                 37538
Var13                     0
Var14                     0
Var15                     0
Var16                     0
Var17                    40
Var18                 37416
Var19                 29173
Var20                     0
Var21                     0
Var22                     0
Var23                     0
Var24                     0
Var25                 10088
Var26                 19883
Var27                     0
Var28                     0
Var29                     0
Var30                     0
_r_                       0
dtype: int64
ID                      int64
customer_id             int64
application_date       object
target                float64
Application_status     object
Var1                    int64
Var2                  float64
Var3                   object
Var4                    int64
Var5                    int64
Var6                    int64
Var7                  float64
Var8                  float64
Var9                    int64
Var10                 float64
Var11                   int64
Var12                 float64
Var13                  object
Var14                   int64
Var15                   int64
Var16                   int64
Var17                 float64
Var18                 float64
Var19                 float64
Var20                   int64
Var21                   int64
Var22                   int64
Var23                   int64
Var24                   int64
Var25                 float64
Var26                 float64
Var27                   int64
Var28                   int64
Var29                   int64
Var30                   int64
_r_                   float64
dtype: object
    application_date Application_status Var3      Var13
0  01Feb2010 0:00:00           Approved    1  26Nov2004
1  01Feb2010 0:00:00           Approved    2  16Sep1996
2  01Feb2010 0:00:00           Approved    1  06May1989
3  01Feb2010 0:00:00           Approved    2  06Dec1987
4  02Feb2010 0:00:00           Rejected    1  18May1989

In [11]:
dev = sanitize(dev)
# dev.rename(columns=descriptions, inplace=True)  # Rename columns using the descriptions dictionary
selcom = ['Var2', 'Var18']
dev[selcom]
dev['Var2'] = dev['Var2'].astype(int)
dev

,ID,customer_id,application_date,target,Application_status,Var1,Var2,Var3,Var4,Var5,...,Var22,Var23,Var24,Var25,Var26,Var27,Var28,Var29,Var30,_r_
0,11034977,32537148,2010-02-01,0.0,Approved,1,2,1,7800,99,...,1,1,0,6768.42,0.00,0,0,0,3899,0.267045
1,11034978,32761663,2010-02-01,0.0,Approved,1,1,2,11100,78,...,0,0,15000,5937.66,3870.60,0,0,0,3899,0.533040
2,11034979,32701063,2010-02-01,0.0,Approved,2,3,1,2400,15,...,2,2,0,5647.77,1463.08,0,0,10,3899,0.861555
3,11034980,32386786,2010-02-01,0.0,Approved,3,1,2,11800,30,...,0,0,0,3594.90,21563.78,0,0,10,3899,0.506451
5,11034982,32861919,2010-02-02,0.0,Approved,1,2,1,7200,36,...,2,2,0,1828.62,NaN,0,0,10,3899,0.003446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49992,11084969,32845249,2020-12-31,0.0,Approved,1,3,3,5800,6,...,3,3,0,NaN,NaN,0,0,0,12832,0.654447
49993,11084970,32623752,2020-12-31,0.0,Approved,1,2,2,26100,15,...,0,0,0,10816.79,108005.34,0,0,0,12832,0.225416
49995,11084972,32554904,2020-12-31,1.0,Approved,2,1,1,49200,111,...,2,2,0,NaN,NaN,0,0,0,12832,0.783954
49997,11084974,32433438,2020-12-31,0.0,Approved,1,1,1,46700,18,...,0,0,0,9288.87,255018.31,0,0,0,12832,0.060722
49999,11084976,32834539,2020-12-31,0.0,Approved,1,3,3,6400,9,...,0,0,0,NaN,NaN,0,0,0,12832,0.733623

In [12]:
dev = pd.get_dummies(dev, columns=['Var2'], prefix='loan_purpose')
dev['loan_purpose_1_0'] = ((dev['loan_purpose_1'] == 1) & (dev['Var19'] == 0)).astype(int)
dev['loan_purpose_1_1'] = ((dev['loan_purpose_1'] == 1) & (dev['Var19'] == 1)).astype(int)
dev['loan_purpose_2_0'] = ((dev['loan_purpose_2'] == 1) & (dev['Var18'] == 0)).astype(int)
dev['loan_purpose_2_1'] = ((dev['loan_purpose_2'] == 1) & (dev['Var18'] == 1)).astype(int)
drops = ['loan_purpose_1', 'loan_purpose_2', 'Var18', 'Var19']
dev.drop(columns=drops, axis=1, inplace=True)
dev

,ID,customer_id,application_date,target,Application_status,Var1,Var3,Var4,Var5,Var6,...,Var27,Var28,Var29,Var30,_r_,loan_purpose_3,loan_purpose_1_0,loan_purpose_1_1,loan_purpose_2_0,loan_purpose_2_1
0,11034977,32537148,2010-02-01,0.0,Approved,1,1,7800,99,1,...,0,0,0,3899,0.267045,0,0,0,0,1
1,11034978,32761663,2010-02-01,0.0,Approved,1,2,11100,78,1,...,0,0,0,3899,0.533040,0,0,1,0,0
2,11034979,32701063,2010-02-01,0.0,Approved,2,1,2400,15,1,...,0,0,10,3899,0.861555,1,0,0,0,0
3,11034980,32386786,2010-02-01,0.0,Approved,3,2,11800,30,6,...,0,0,10,3899,0.506451,0,1,0,0,0
5,11034982,32861919,2010-02-02,0.0,Approved,1,1,7200,36,1,...,0,0,10,3899,0.003446,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49992,11084969,32845249,2020-12-31,0.0,Approved,1,3,5800,6,6,...,0,0,0,12832,0.654447,1,0,0,0,0
49993,11084970,32623752,2020-12-31,0.0,Approved,1,2,26100,15,3,...,0,0,0,12832,0.225416,0,0,0,0,1
49995,11084972,32554904,2020-12-31,1.0,Approved,2,1,49200,111,1,...,0,0,0,12832,0.783954,0,1,0,0,0
49997,11084974,32433438,2020-12-31,0.0,Approved,1,1,46700,18,1,...,0,0,0,12832,0.060722,0,0,1,0,0
49999,11084976,32834539,2020-12-31,0.0,Approved,1,3,6400,9,1,...,0,0,0,12832,0.733623,1,0,0,0,0